<!--=========================-->
<!--=        Navbar         =-->
<!--=========================-->
<header class="site-header header-main header-transparent header-fixed" data-header-fixed="true"
        data-mobile-menu-resolution="1024">
    <div class="container-full">
        <div class="header-inner">

            <nav class="main-nav" id="site-navigation">

                <div class="site-logo">
                    <a class="logo" href="index.html">
                        <img alt="site logo" class="main-logo" src="assets/img/logo-community.png">
                        <img alt="site logo" class="logo-sticky" src="assets/img/logo-community.png">
                    </a>
                </div>
                <!-- /.site-logo -->

                <div class="menu-wrapper main-nav-container canvas-menu-wrapper" id="mega-menu-wrap">

                    <div class="canvas-header">
                        <div class="mobile-offcanvas-logo">
                            <a href="index.html">
                                <img alt="site logo" class="logo-sticky" src="assets/img/logo-community.png">
                            </a>
                        </div>

                        <div class="close-menu" id="page-close-main-menu">
                            <i class="ti-close"></i>
                        </div>

                    </div>

                    <ul class="astriol-main-menu">
                        <li class="has-submenu menu-item-depth-0">
                            <a href="index.html">Home</a>
                            <ul class="sub-menu">
                                <li><a href="index.html">Home Main</a></li>
                                <li><a href="index-saas.html">Home Sass</a></li>
                                <li><a href="index-saas-two.html">Home Sass Two</a></li>
                                <li><a href="index-app.html">Home App Landing</a></li>
                                <li><a href="index-agency.html">Home Agency</a></li>
                                <li><a href="index-agency-two.html">Home Agency Two</a></li>
                                <li><a href="index-analytics.html">Home Analytics</a></li>
                                <li><a href="index-social.html">Home Social</a></li>
                                <li><a href="index-seo.html">Home SEO</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-depth-0"><a href="about.html">About</a></li>
                        <li class="has-submenu menu-item-depth-0">
                            <a href="blog.html">Blog</a>
                            <ul class="sub-menu">
                                <li><a href="blog-filter.html">Blog With Filter</a></li>
                                <li><a href="blog.html">Blog Grid</a></li>
                                <li><a href="blog-classic.html">Blog Classic</a></li>
                                <li><a href="blog-single.html">Blog Single</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu menu-item-depth-0">
                            <a href="#">Pages</a>

                            <ul class="sub-menu">
                                <li><a href="about.html">About</a></li>
                                <li class="has-submenu">
                                    <a href="service.html">Service</a>
                                    <ul class="sub-menu">
                                        <li><a href="service.html">Service One</a></li>
                                        <li><a href="service-two.html">Service Two</a></li>
                                    </ul>
                                </li>
                                <li><a href="team.html">Our Team</a></li>
                                <li><a href="pricing.html">Pricing</a></li>
                                <li class="has-submenu">
                                    <a href="portfolio.html">Portfolio</a>
                                    <ul class="sub-menu">
                                        <li><a href="portfolio-one.html">Two Column</a></li>
                                        <li><a href="portfolio-two.html">Three Column</a></li>
                                        <li><a href="portfolio-style-two.html">Three Column Style Two</a></li>
                                        <li><a href="portfolio-three.html">With Filter</a></li>
                                        <li><a href="portfolio-single.html">Portfolio Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="faq.html">Faq's</a></li>
                                <li><a href="error.html">Error 404</a></li>
                                <li><a href="login.html">Sing In</a></li>
                                <li><a href="signup.html">Sing Up</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-depth-0"><a href="contact.html">Contact</a></li>
                    </ul>

                    <div class="nav-right">
                        <a class="gp-btn nav-btn btn-help" href="contact.html">Looking for help</a>
                        <a class="gp-btn nav-btn" href="login.html"><i class="ei ei-icon_lock-open_alt"></i> Log In</a>
                    </div>
                </div>
                <!-- /.menu-wrapper -->

                <div class="astriol-burger-menu style-two mobile-view" id="mobile-menu-open">
                    <span class="bar-one"></span>
                    <span class="bar-two"></span>
                    <span class="bar-three"></span>
                </div>

            </nav>
            <!-- /.site-nav -->
        </div>
        <!-- /.header-inner -->
    </div>
    <!-- /.container-full -->
</header>
<!-- /.site-header -->
