<!--=========================-->
<!--=        Navbar         =-->
<!--=========================-->
<header class="site-header header-main header-transparent header-fixed" data-header-fixed="true"
        data-mobile-menu-resolution="1024">
    <div class="container-full">
        <div class="header-inner">

            <nav class="main-nav" id="site-navigation">

                <div class="site-logo">
                    <a class="logo" href="index.html">
                        <img alt="site logo" class="main-logo" src="assets/img/logo-community.png">
                        <img alt="site logo" class="logo-sticky" src="assets/img/logo-community.png">
                    </a>
                </div>
                <!-- /.site-logo -->

                <div class="menu-wrapper main-nav-container canvas-menu-wrapper" id="mega-menu-wrap">

                    <div class="canvas-header">
                        <div class="mobile-offcanvas-logo">
                            <a href="index.html">
                                <img alt="site logo" class="logo-sticky" src="assets/img/logo-community.png">
                            </a>
                        </div>

                        <div class="close-menu" id="page-close-main-menu">
                            <i class="ti-close"></i>
                        </div>

                    </div>

                    <ul class="astriol-main-menu">
                        <li class="has-submenu menu-item-depth-0">
                            <a href="index.html">Home</a>
                    </li>

                        <li class="menu-item-depth-0"><a href="contact.html">About</a></li>
                        <li class="menu-item-depth-0"><a href="contact.html">Pricing</a></li>
                        <li class="menu-item-depth-0"><a href="contact.html">Contact Us</a></li>

                    </ul>

                    <div class="nav-right">
                        <a class="gp-btn nav-btn btn-help" href="{% url 'public_accounts:signup' %}">Register</a>
                        <a class="gp-btn nav-btn" href="{% url 'public_accounts:domain_finder' %}"><i class="ei ei-icon_lock-open_alt"></i> Login</a>
                    </div>
                </div>
                <!-- /.menu-wrapper -->

                <div class="astriol-burger-menu style-two mobile-view" id="mobile-menu-open">
                    <span class="bar-one"></span>
                    <span class="bar-two"></span>
                    <span class="bar-three"></span>
                </div>

            </nav>
            <!-- /.site-nav -->
        </div>
        <!-- /.header-inner -->
    </div>
    <!-- /.container-full -->
</header>
<!-- /.site-header -->
